<div style="font-family: 'calibri'; border: solid thinn blue; padding: 30px; margin: 10px;">

    <div style="padding: 10px;margin: 10px; text-align: center; color: darkblue;"><h3>Tech Novice Solutions</h3></div>
    <div style="display: flex;">
        <div style="width: 17%;"><a routerLink="/home">Home</a></div>
        <div style="width: 17%;"><a routerLink="/aboutus">About Us</a></div>
        <div style="width: 17%;"><a routerLink="/registration">Register</a></div>
        <div style="width: 17%;"><a routerLink="/login">Login</a></div>
        <div style="width: 17%;"><a routerLink="/employee">Employee Management</a></div>
    </div>
    <hr/>
    <div style="border: solid thin green; padding: 10px;">
        <router-outlet>
            
        </router-outlet>
    </div>
    <hr/>
    <div><span style="text-align: center;"> Copy Rights &copy; All rights are reserved to Tech Novice solutions...</span></div>
    <div></div>

